Repository strapi/client, pull requests merged in 2025-01, with the labels that each got.

#22 doc: debug
  README.md
  rollup.config.mjs
Labels: pr: doc, source: readme

#31 docs(README): add link to SDK roadmap in resources
  README.md
  pnpm-lock.yaml
Labels: pr: doc, source: readme

#29 feat(http): interceptor API
  package.json
  pnpm-lock.yaml
  src/auth/manager.ts
  src/auth/providers/api-token.ts
  src/auth/providers/users-permissions.ts
  src/content-types/collection/manager.ts
  src/content-types/single/manager.ts
  src/formatters/index.ts
  src/formatters/path.ts
  src/http/client.ts
  src/http/constants.ts
  src/http/index.ts
  src/http/interceptor-manager.ts
  src/http/types.ts
  src/interceptors/auth.ts
  src/interceptors/http.ts
  src/interceptors/index.ts
  src/sdk.ts
  tests/fixtures/http-error-associations.ts
  tests/unit/auth/manager.test.ts
  tests/unit/auth/providers/users-permissions.test.ts
  tests/unit/content-types/collection/collection-manager.test.ts
  tests/unit/content-types/collection/single-manager.test.ts
  tests/unit/formatters/path.test.ts
  tests/unit/http/client.test.ts
  tests/unit/http/interceptor-manager.test.ts
  tests/unit/interceptors/auth.test.ts
  tests/unit/interceptors/http.test.ts
  tests/unit/mocks/flaky-url-validator.mock.ts
  tests/unit/mocks/http-client.mock.ts
  tests/unit/mocks/index.ts
  tests/unit/mocks/request.mock.ts
  tests/unit/mocks/response.mock.ts
  tests/unit/sdk.test.ts
Labels: pr: feature, source: sdk-http

#30 enhancement: rename the SDK constructor
  README.md
  src/auth/factory/factory.ts
  src/auth/manager.ts
  src/auth/providers/abstract.ts
  src/auth/providers/api-token.ts
  src/auth/providers/users-permissions.ts
  src/content-types/collection/manager.ts
  src/content-types/single/manager.ts
  src/errors/index.ts
  src/errors/strapi.ts
  src/http/client.ts
  src/index.ts
  src/sdk.ts
  src/utilities/url-helper.ts
  src/validators/index.ts
  src/validators/sdk.ts
  src/validators/url.ts
  tests/unit/auth/factory.test.ts
  tests/unit/auth/providers/api-token.test.ts
  tests/unit/auth/providers/users-permissions.test.ts
  tests/unit/errors/sdk-errors.test.ts
  tests/unit/index.test.ts
  tests/unit/mocks/index.ts
  tests/unit/mocks/sdk-validator.mock.ts
  tests/unit/mocks/strapi-config-validator.mock.ts
  tests/unit/sdk.test.ts
  tests/unit/validators/strapi-config.test.ts
Labels: pr: enhancement, source: sdk

#32 fix: add string array to populate types
  src/types/content-api.ts
Labels: pr: enhancement, source: sdk-types, community

#34 fix(interceptors): prevent overriding existing headers
  src/interceptors/http.ts
  tests/unit/interceptors/http.test.ts
  tests/unit/sdk.test.ts
Labels: pr: fix, source: interceptors

#35 feat(auth): refactor auth configuration logic
  README.md
  src/index.ts
  src/sdk.ts
  tests/unit/index.test.ts
  tests/unit/sdk.test.ts
Labels: pr: feature, source: sdk, flag: 💥 breaking change

#40 chore: update readme for demo
  README.md
Labels: pr: chore

#38 chore: ignore github messages in commitlint
  .commitlintrc.ts
Labels: pr: chore
