Repository strapi/client, pull requests merged in 2025-04, with the labels that each got.

#66 Delete files
  README.md
  demo/node-javascript/src/index.js
  demo/node-typescript/src/index.ts
  src/files/manager.ts
  tests/unit/files/files-client-integration.test.ts
  tests/unit/files/files-manager.test.ts
Labels: pr: feature, source: client-files

#68 release: 1.1.0
  package.json
Labels: pr: release

#73 enhancement(client): rename Strapi to StrapiClient
  package.json
  rollup.config.mjs
  src/client.ts
  src/exports.ts
  src/index.ts
  src/validators/client.ts
  tests/fixtures/http-error-associations.ts
  tests/unit/auth/factory.test.ts
  tests/unit/auth/providers/api-token.test.ts
  tests/unit/auth/providers/users-permissions.test.ts
  tests/unit/client.test.ts
  tests/unit/errors/client-errors.test.ts
  tests/unit/errors/http-errors.test.ts
  tests/unit/files/files-client-integration.test.ts
  tests/unit/index.test.ts
  tests/unit/interceptors/auth.test.ts
  tests/unit/validators/strapi-config.test.ts
Labels: pr: enhancement, source: client-types

#70 fix(build): force browser-compatible module resolution in builds
  package.json
  rollup.config.mjs
Labels: pr: fix, source: config

#71 chore(demo): add react + vite demo
  demo/.strapi-app/scripts/seed.js
  demo/.strapi-app/types/generated/contentTypes.d.ts
  demo/react-vite/.gitignore
  demo/react-vite/README.md
  demo/react-vite/eslint.config.js
  demo/react-vite/index.html
  demo/react-vite/package.json
  demo/react-vite/pnpm-lock.yaml
  demo/react-vite/public/favicon.ico
  demo/react-vite/src/app.tsx
  demo/react-vite/src/components/CTA.tsx
  demo/react-vite/src/components/CategoryCard.tsx
  demo/react-vite/src/components/FileCard.tsx
  demo/react-vite/src/components/FileGallery.tsx
  demo/react-vite/src/components/Nav.tsx
  demo/react-vite/src/components/QueryParamsPicker.tsx
  demo/react-vite/src/components/QueryPreview.tsx
  demo/react-vite/src/hooks/useCollection.ts
  demo/react-vite/src/hooks/useFiles.ts
  demo/react-vite/src/hooks/useStrapi.ts
  demo/react-vite/src/index.css
  demo/react-vite/src/layouts/Layout.tsx
  demo/react-vite/src/main.tsx
  demo/react-vite/src/pages/CollectionDemo.tsx
  demo/react-vite/src/pages/FilesDemo.tsx
  demo/react-vite/src/pages/Home.tsx
  demo/react-vite/src/types.ts
  demo/react-vite/src/utils/constants.ts
  demo/react-vite/src/vite-env.d.ts
  demo/react-vite/tsconfig.app.json
  demo/react-vite/tsconfig.json
  demo/react-vite/tsconfig.node.json
  demo/react-vite/vite.config.ts
  pnpm-lock.yaml
Labels: pr: chore, source: client-demo

#72 enhancement(types): rename and export API-related types
  demo/node-typescript/src/index.ts
  src/content-types/collection/manager.ts
  src/content-types/single/manager.ts
  src/exports.ts
  src/types/content-api.ts
Labels: pr: enhancement, source: client-types

#75 release: 1.2.0
  package.json
Labels: pr: release, source: repo

#76 feat: :sparkles: add the option to pass custom headers
  src/client.ts
  src/index.ts
  src/validators/client.ts
  tests/unit/validators/strapi-config.test.ts
Labels: pr: feature, source: client, community

#78 docs(readme): add section for configuring custom headers in Strapi client
  README.md
Labels: pr: doc, source: readme

#79 release: 1.3.0
  package.json
Labels: pr: release, source: repo
